body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid white; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

.tabela{
    border: 1px solid highlight;
}

.cabesario{
    text-align: center;
    font: 14px Arial, sans-serif;
    font-weight: bold;
    color: white;
    background: black;
}

.tabelacolunas{
    text-align: center;
    width: 50px;
}

.tabela150px{
    width: 150px;
}

.tabela250px{
    width: 250px;
}

.tabelaacoes{
    text-align: center;
    width: 150px;
}

.tabelanumerica{
    text-align: right;
    width: 150px;
}

.tabelalinha1{
    background-color: whitesmoke;
}

.tabelalinha2{
    background-color: activecaption;
}

.roda{
    
        text-align: center;
}
